body{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin: 30px;
    margin-right: 800px;
}
button{
    background-color: cornflowerblue;
    border-radius: 10px;
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px black;
}
.form-popup{
    display: none;
    position: fixed;
    border: 3px solid grey;
    z-index: 9;
}
#open-form{
    background-color: purple;
}
.form-container{
    max-width: 700px;
    padding: 25px;
    background-color: white;
}
.form-container input[type=text]{
    background-color: #ddd;
    outline: none;
    font-size: 24px;
}
li{
    list-style: none;
    padding: 8px;
}
h1{
    font-size: 56px;
}
